@font-face {
  font-family: Montserrat;
  src: url("../font/Montserrat-VariableFont_wght.ttf")format("truetype");
}


html {
  background: #F7F8FC;
}

header {
  background-color: #2D2D2D;
}

.header__wrapper {
  display: flex;
  height: 70px;
  max-width: 1200px;
  margin: 0 auto;
}

.header__logo {
  margin: 10px 0px 10px 40px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  margin-left: 60px;
}

.header__list {
  margin: 25px 0px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.header__list_link {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
}

.header__list_link:hover {
  color: #a9a9a9;
  transition: .5s;
}

.header__icon {
  margin: 20px 0px 20px 335px;
  display: flex;
  flex-direction: row;
  gap: 35px;
}

.popover {
  cursor: pointer;
}

.popover__content {
  display: none;
}

.popover__content_show {
  z-index: 2;
  display: flex;
  flex-direction: column;
  width: 233px;
  background-color: #eef0f1;
  position: absolute;
  top: 70px;
  z-index: 2;
}

.popover__content_item {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  padding: 10px;
  color: #484c51;
}

.popover__content_item:hover {
  color: #0e0f0f;
  background-color: #d1d1d1;
  transition: 1s;
}

.intro {
  background-image: url("../image/bg.svg");
  height: 400px;
}

.intro__header {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 64%;
}

.intro__header_text {
  font-family: 'Montserrat';
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: 80px;
  white-space: wrap;
}

.intro__subheader {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 28%;
  margin-top: 20px;
}

.intro__subheader_text {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  color: #FFFFFF;
  white-space: wrap;
}

.job {
  width: 1620px;
  margin: 0 auto;
  margin-top: 30px;
}

.job-search {
  display: flex;
}


.search__input {
  height: 58px;
  width: 1364px;
  border: 1px solid #A0A6B1;
  font-family: 'Montserrat';
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  background-image: url(../image/main/search.svg);
  background-repeat: no-repeat;
  background-position: top 21px left 51px;
  padding-left: 88px;
}

.search__button {
  height: 60px;
  width: 168px;
  background: #134965;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;

}

.search__button:hover {
  background: #0b2d3d;
}

.search-result {
  margin-top: 30px;

}

.search-result__text {
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  color: #2D2D2D;
}

.collumns {
  display: flex;
  flex-direction: row;
  gap: 31px;
  margin-top: 39px;
}

.filter {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.range {
  display: flex;
  margin-top: 4px;
}

.filter-wrapper {
  width: 1200px;
  margin: 0 auto;
}

.filter-items {
  display: flex;
  flex-direction: row;
  gap: 51px;
}

.filter-items__rec {
  cursor: pointer;
}

.filter-items__times {
  cursor: pointer;
}

.rec-selectors {
  display: none;
}

.rec-selectors ul {
  width: 100%;
}

.rec-selectors__show {
  display: flex;
  position: absolute;
  z-index: 5;
  width: 233px;
  background-color: #eef0f1;
}

.time-selectors {
  display: none;
}

.time-selectors ul {
  width: 100%;
}

.time-selectors__show {
  display: flex;
  position: absolute;
  z-index: 5;
  width: 233px;
  background-color: #eef0f1;
}

.selector-item {
  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0px;
  padding: 10px;
  color: #484c51;
}

.selector-item:hover {
  color: #0e0f0f;
  background-color: #d1d1d1;
  transition: 1s;
}

.filters__description {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #71717A
}

.left-filter {
  display: flex;
  flex-direction: column;
  width: 382px;
  height: 804px;
  background: #FFFFFF;
  border-radius: 10px;
}

.left-filter-wrapper {
  padding: 20px;
}

.filter-head {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #2D2D2D;
}

.education {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.education__select {
  padding-left: 12px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D4D4D8;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #71717A;
  cursor: pointer;
}

.education__select * {
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #71717A;
}

.filter-label {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #71717A;
  cursor: pointer;
}

.age {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.age__radio {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.age__range {
  margin-top: 21px;
  background: #E4E4E7;
  border-radius: 10px;
  color: #13496599;
}

.duraction {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.duraction__radio {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.duraction__range {
  margin-top: 21px;
}

.diplom {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.diplom__radio {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.reset {
  margin-top: 50px;
}

.filter-reset {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 24px;
  line-height: 150%;
  color: #13496599;
}

.filter-reset:hover {
  color: #114057;
}

.results-wrapper {
  width: 1207px;
  background: #FFFFFF;
  border-radius: 10px;
}

.offer-wrapper {
  display: flex;
  flex-direction: column;
  width: 1207px;
  padding: 20px;
  background: #FFFFFF;
  border-radius: 10px;
  gap: 15px;
}

.offer {
  width: 1167px;
  display: none;
  flex-direction: column;
}

.offer__description {
  display: flex;
  flex-direction: column;
}

.offer__description_course-time {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #2D2D2D;
}

.offer__description_course-title {
  margin-top: 10px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #2D2D2D;
}

.offer__description_course-price {
  font-family: 'Montserrat';
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #2D2D2D;
}

.offer__description_course-spec {
  margin-top: 5px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #71717A;
}

.offer__skills {
  display: flex;
  gap: 10px;
}

.offer__skills_skill {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 7px;
  margin-top: 10px;
  height: 22px;
  background: #2d2d2d1a;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #2D2D2D;
}

.answer {
  margin-top: 10px;
  display: flex;
  gap: 20px;
}

.course-link {
  padding: 4px 20px;
  border: 2px solid #7192A3;
  border-radius: 10px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #13496599;
}

.course-link:hover {
  background: #13496599;
  color: #FFFFFF;
}

.courese-like {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #13496599;
}

.courese-like:hover {
  color: #0e384d;
}

.courese-date {
  margin-left: auto;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #979797;
}

.line {
  margin-top: 15px;
  border: 1px solid #E4E4E7;
}

.pages {
  margin: 239px 375px 41px 53px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.page-number_active {
  width: 71px;
  height: 68px;
  background: #134965;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #FFFFFF;
  cursor: default;
}

.page-number {
  width: 71px;
  height: 68px;
  background: #13496599;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #FFFFFF;
  cursor: pointer;
}

.page-number:hover {
  background: rgba(19, 73, 101, 0.6);
  border: 2px solid #134965;
}

.pages__dots {
  width: 31px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
}

.page-next {
  display: flex;
  align-items: center;
  width: 182px;
  height: 68px;
  background: rgba(19, 73, 101, 0.6);
  border-radius: 10px;
  font-family: 'Montserrat';
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  color: #FFFFFF;
}

.page-next:hover {
  background: rgba(19, 73, 101, 0.6);
  border: 2px solid #134965;
}

.footer {
  background-color: #2D2D2D;

}

.footer-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  margin: 60px auto 0 auto;
}

.disclaimer {
  display: flex;
  width: 550px;
  height: 40px;
  margin: 20px auto 0 auto;
}

.disclaimer__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.5;
}

.footer__menu {
  margin: 52px auto 0 auto;
}

.footer-list {
  display: flex;
  flex-direction: row;
  gap: 75px;
}

.footer-list__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer-list__link:hover {
  color: #a9a9a9;
  transition: .5s;
}

.footer-icon {
  margin: 40px auto 0 auto;
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
}

.copyright {
  margin: 60px auto 28px auto;
}

.copyright__text {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #6F6F6F;
}